body{
  background:#A5D8D8;
}

h1{
  font-size: 25px;
  color : blue;
  background-color : black;
  border:3px black dotted

}

h3{
  text-align: :center;

}

p{
  font-size:30px;
  margin:1em;
}
#center{
  text-align:center;
}

.box1{
  text-align:center;
}

.box2{
  border-style: none;
  border:3px solid;
}

.box3 {
  border-color: white;
}



box4{
  margin: auto;;
  border: 3px
  padding : 20px;
}
